/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist[wght].woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
    
    /* Color Primitives */
    --app-white: 255 255 255;
    --app-gray-50: 249 249 249;
    --app-gray-300: 204 204 204;
    --app-gray-600: 153 153 153;
    --app-black: 0 0 0;
    --app-black-4: 0 0 0 / 0.04;
    --app-green: 40 192 97;
    --app-red: 255 0 0;
    --app-yellow: 255 191 0;
    
    /* Surfaces */
    --surface-background: 255 255 255;
    --surface-main: 249 249 249;
    --surface-dropdowns: 0 0 0;
    --surface-backdrops: 0 0 0;
    
    /* Fills */
    --fill-primary: 0 0 0;
    --fill-primary-hover: 204 204 204;
    --fill-secondary: 153 153 153;
    --fill-secondary-header: 245 245 245;
    --fill-secondary-emphasis: 255 255 255;
    --fill-secondary-hover: 255 255 255;

    /* Borders */
    --border-default: 0 0 0;
    --border-header: 235 235 235;
    
    /* Text Colors */
    --text-primary: 0 0 0;
    --text-secondary: 153 153 153;
    --text-tertiary: 204 204 204;
    --text-primary-button: 255 255 255;
    --text-secondary-button: 0 0 0;
    --text-green: 40 192 97;
    --text-red: 255 0 0;
    --text-yellow: 255 191 0;

     /* Icon Colors */
    --icon-white: 255 255 255;        
    --icon-primary: 0 0 0;            
    --icon-secondary: 153 153 153;    
    --icon-secondary-hover: 204 204 204;
    --icon-tertiary: 204 204 204;     
    --icon-tertiary-hover: 0 0 0;     
    --icon-green: 40 192 97;          
    --icon-red: 255 0 0;              
    --icon-yellow: 255 191 0;         
  }
}


@layer base {
  * {

  }
  body {
    font-family: 'Geist', sans-serif;
  }

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
  }

  .heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }

  .body-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

  .body-regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  .body-regular-12 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .body-medium-12 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .text-overline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .text-overline-small {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .caption {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}